HTML{
    height:100%
}
body {
    height:100%;
    margin: 0;
  }
  header{
    height:55px;
    background-color:rgba(34, 49, 52, 0.9);
  }

.header-left{
    float: left;
    width:auto;
    padding-top:10px;
    transition: all 0.5s;
}

.header-left a {
    line-height:45px;
    padding-right:25px;
    padding-left:25px;
    color:white;
    display:block;
    font-style: bold;
    text-decoration: none;
  }

input{
    display:inline;
}

  /*--------------------
 吹き出しを作る
--------------------*/
.balloon {
    position: absolute;
    left: 45%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    }
    .balloon:before,.balloon:after {
    clear: both;
    content: "";
    display: block;
    }
    .balloon figure {
    width: 60px;
    height: 60px;
    }
    .balloon-image-left {
    float: left;
    margin-right: 20px;
    }
    .balloon-image-right {
    float: right;
    margin-left: 20px;
    }
    .balloon figure img {
    width: 100%;
    height: 100%;
    border: 1px solid #aaa;
    border-radius: 50%;
    margin: 0;
    }
    .balloon-image-description {
    padding: 5px 0 0;
    font-size: 10px;
    text-align: center;
    }
    .balloon-text-right,.balloon-text-left {
    margin-top:30px;
    position: relative;
    padding: 10px;
    border: 1px solid;
    border-radius: 10px;
    max-width: -webkit-calc(100% - 120px);
    max-width: calc(100% - 120px);
    display: inline-block;
    }
    .balloon-text-right {
    border-color: #aaa;
    }
    .balloon-text-left {
    border-color: #aaa;
    }
    .balloon-text-right {
    float: left;
    }
    .balloon-text-left {
    float: right;
    }
    .balloon p {
    margin: 0 0 20px;
    }
    .balloon p:last-child {
    margin-bottom: 0;
    }
    /* 三角部分 */
    .balloon-text-right:before {
    position: absolute;
    content: '';
    border: 10px solid transparent;
    border-right: 10px solid #aaa;
    top: 15px;
    left: -20px;
    }
    .balloon-text-right:after {
    position: absolute;
    content: '';
    border: 10px solid transparent;
    border-right: 10px solid #fff;
    top: 15px;
    left: -19px;
    }
    .balloon-text-left:before {
    position: absolute;
    content: '';
    border: 10px solid transparent;
    border-left: 10px solid #aaa;
    top: 15px;
    right: -20px;
    }
    .balloon-text-left:after {
    position: absolute;
    content: '';
    border: 10px solid transparent;
    border-left: 10px solid #fff;
    top: 15px;
    right: -19px;
    }

    .top-wrapper{
        /*トップのレイアウト*/
        background-position: -30%;
        background-image:url(Yuhuin2.jpg);
        background-size:cover;
        padding-top:180px;
        padding-bottom:300px;
        background-color:rgba(255,255,255,0.8);
        background-blend-mode:lighten;
        text-align: center;
        font-size: 20px;
        font-weight: bold;
    }

    @media (max-width:1000px){
      @media (min-height:600px){
      body{
        position:fixed;
        position: fixed;
        left: 0px;
        right: 0px;
        top: 0px;
        bottom:0px;
      }
      header{
        height:220px;
        background-color:rgba(34, 49, 52, 0.9);
      }
    
    .header-left{
        float: center;
        text-align: center;
        margin-top: 50px;
        width:auto;
        padding-top:30px;
        transition: all 0.5s;
        font-size: 100px;
    }
    .header-left a {
      line-height:45px;
      padding-right:25px;
      padding-left:25px;
      color:white;
      display:block;
      font-style: bold;
      text-decoration: none;
    }
      .top-wrapper{
        /*トップのレイアウト*/
        background-position: -30%;
        background-image:url(Yuhuin2.jpg);
        background-size:cover;
        height:100%;
        padding-bottom:150%;
        margin-bottom: 50%;
        background-color:rgba(255,255,255,0.8);
        background-blend-mode:lighten;
        text-align: center;
        font-size: 30px;
        font-weight: bold;
    }

    .h1{
      font-size:30px;
    }
    input{
      font-size: 30px;
      height:60px;
      width: 50%;
    }
    .balloon {
      display:none;
      }
    }
  }
  
  @media (max-width:670px){
    @media (min-height:600px){
    body{
      position:fixed;
      position: fixed;
      left: 0px;
      right: 0px;
      top: 0px;
      bottom:0px;
    }
    header{
      display:none;
      height:40px;
      background-color:rgba(34, 49, 52, 0.9);
    }
  
  .header-left{
    display:none;
      float: center;
      text-align: center;
      margin-top: 50px;
      width:auto;
      padding-top:30px;
      transition: all 0.5s;
      font-size: 25px;
  }
  .header-left a {
    display:none;
    line-height:45px;
    padding-right:25px;
    padding-left:25px;
    color:white;
    display:block;
    font-style: bold;
    text-decoration: none;
  }
    .top-wrapper{
      /*トップのレイアウト*/
      background-position: -30%;
      background-image:url(Yuhuin2.jpg);
      background-size:cover;
      height:100%;
      padding-bottom:150%;
      margin-bottom: 50%;
      background-color:rgba(255,255,255,0.8);
      background-blend-mode:lighten;
      text-align: center;
      font-size: 10px;
      font-weight: bold;
  }

  .h1{
    font-size:15px;
  }
  input{
    font-size: 10px;
    height:20px;
    width: 50%;
  }
  .balloon {
    display:none;
    }
  }
}
